.container {
  margin: 0 auto 0;
  padding: 4rem 4rem 10rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  width:30%;
  padding-bottom: 4rem;
  background: #fff;
  color: #000;
  &-subtitle {
    color: #262626
  }
  &-image {
    width: 95%;
    margin: 0 auto 2rem;
  }
}

.product-header-image {
  background: url('/assets/images/apple.jpeg') center no-repeat;
  background-size: cover;
}

.mat-card-actions {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}