<div class="container">
  <mat-card class="product-card" *ngIf="product">
    <mat-card-header>
      <div mat-card-avatar class="product-header-image"></div>
      <mat-card-title>{{ product.title }}&nbsp;{{ product.year }}</mat-card-title>
      <mat-card-subtitle class="product-card-subtitle">{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-xl-image class="product-card-image" *ngIf="product.image && product.image.includes('https')" src="{{ product.image }}" alt="{{ product.title }}">
      <div class="content-text">
        <p>
          <strong>Chip:</strong> {{ product.configure.chip }};&nbsp;
          <strong>Memory:</strong> {{ product.configure.memory }};&nbsp;
          <strong>SSD:</strong> {{ product.configure.SSD }}
        </p>
        <p>{{ product.description }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button matTooltip="Edit/remove product" matTooltipPosition="above" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <button mat-icon-button matTooltip="Add to basket" matTooltipPosition="above" routerLink="/basket"><mat-icon>add_shopping_cart</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item *ngIf="product" (click)="editProduct(product)">Edit</button>
    <button mat-menu-item *ngIf="product" (click)="removeProduct(product)">Remove</button>
  </mat-menu>
</div>
