.mat-dialog-content {
  max-width: 100%;
}
.mat-form-field {
  width: 100%;
}
.field-group {
  display: flex;
  justify-content: space-between;
  .mat-form-field {
    max-width: 30%;
  }
}
.btn-group {
  margin-left: auto;
}